<div [ngClass]="{'p-5': !isShellPresent}">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Trace ID</th>
        <th scope="col" sortable="name" (sort)="onSort($event)">
          First Clazz
        </th>
        <th scope="col" sortable="area" (sort)="onSort($event)">
          Last Clazz
        </th>
        <th scope="col" sortable="population" (sort)="onSort($event)">
          Duration in
          <button (click)="toggleTraceTimeUnit()"
            class="btn btn-outline-secondary">
            {{ traceTimeUnit }}
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngFor="let trace of landscapeData.dynamicLandscapeData; let i = index">
        <tr (click)="selectTrace(trace)"
          [hidden]="selectedTrace && selectedTrace.traceId !== trace.traceId">
          <th scope="row">{{ trace.traceId }}</th>
          <td>{{ getFirstClass(trace.traceId)?.name }}</td>
          <td>{{ getLastClass(trace.traceId)?.name }}</td>
          <td>{{ getDuration(i) }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <ng-container *ngIf="selectedTrace">
    <app-trace-replayer-main [selectedTrace]="selectedTrace"
      [structureData]="landscapeData.structureLandscapeData">
    </app-trace-replayer-main>
  </ng-container>
</div>
