{{!-- {{page-title "Landscape"}} --}}
<link rel="stylesheet" href="assets/landscapes/landscapes.css">
{{outlet}}

<h1>Hello from landscapes sub app</h1>
<button class="btn btn-primary">Button check styles</button>
