<BsDropdown as |dd|>
  <dd.button>Presets <span class="caret"></span></dd.button>
  <dd.menu as |ddm|>
    {{#each this.colorSchemes as |colorScheme|}}
    <ddm.item>
      <div class="dropdown-item pointer-cursor" {{on "click" (fn
        this.applyColorScheme colorScheme.identifier)}}>
        {{colorScheme.name}}
      </div>
    </ddm.item>
    {{/each}}
  </dd.menu>
</BsDropdown>
