<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href>
    <img src="/assets/img/explorviz-30px.png" class="c-logo" alt="ExplorViz"
      draggable="false">
  </a>

  <ng-container *ngIf="isVisualizationRoute()">
    <a (click)="navigateToRoute('/landscapes')">{{ appAlias }}</a>
  </ng-container>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation"
    (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup"
    [ngbCollapse]="isNavbarCollapsed">
    <div id="navbar-user-options" class="btn-group ml-auto">
      <div ngbDropdown placement="bottom-left">
        <a class="dropdown-toggle d-flex align-items-center" ngbDropdownToggle
          role="button">
          <img [src]="user?.picture" class="img-avatar">
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig"
          class="menu-dropdown-position">
          <div class="dropdown-header">
            <div>
              <strong class="truncate-text">
                {{ user?.nickname }}
              </strong>
            </div>
            <span class="truncate-text">
              {{ user?.sub }}
            </span>
          </div>
          <hr class="c-divider">
          <button ngbDropdownItem (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
