<h5 align="center" data-cy="trace-replayer-title">
  Trace Replayer
</h5>

<app-trace-navigation [currentTraceStepIndex]="currentTraceStepIndex"
  [traceStepCount]="traceSteps.length"
  (selectNextTraceStep)="selectNextTraceStep()"
  (selectPreviousTraceStep)="selectPreviousTraceStep()"></app-trace-navigation>

<app-trace-steps-details [operationName]="operationName"
  [sourceClass]="sourceClass" [targetClass]="targetClass"
  [sourceApplicationName]="sourceApplication?.name"
  [targetApplicationName]="targetApplication?.name"
  [spanStartTime]="currentTraceStep?.startTime"
  [spanEndTime]="currentTraceStep?.endTime"></app-trace-steps-details>
